*.o
*~
COPYING
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
depcomp
install-sh
missing
sweeplog-config.h.in

.deps/
ChangeLog
Makefile
Makefile.in
config.log
config.status
configure
stamp-h1
sweeplog-config.h
sweeplog

